{% extends "base.html" %}
{% block extrahead %}
<!--   <link rel="stylesheet" href="{{config.site_url}}{{ 'assets/stylesheets/main.c296cc61.min.css' | url }}"> -->
{% if page and page.meta and page.meta.tags %} {% set keywords = page.meta.tags
%}
<meta name="keywords" content="{{ page.meta.keywords }}" />
{% elif config.extra.site_keywords %} {% set keywords =
config.extra.site_keywords %}
<meta name="keywords" content="{{ config.extra.site_keywords }}" />
{% endif %} {% set title = config.site_name %} {% if page and page.title and not
page.is_homepage %} {% set title = page.title ~ " &middot; " ~ config.site_name
| striptags %} {% endif %} {% set description = config.site_description %} {% if
page and page.meta and page.meta.description %} {% set description =
page.meta.description %} {% endif %} {% set image = config.site_url ~
'assets/images/fixed/sitelogo.png' %} {% if page and page.meta and
page.meta.image %} {% set image = config.site_url ~ page.meta.image %} {% endif
%}
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:url" content="{{ page.canonical_url }}" />
<meta property="og:image" content="{{ image }}" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="256" />
<meta property="og:image:height" content="256" />
{% endblock %}

<!-- printing pdf -->
{% block repo %}
    {% if page.url_to_pdf %}
        <li class="nav-item">
            <a href="{{ page.url_to_pdf }}" title="Site PDF" class="nav-link">
                <i class="fas fa-file-pdf"></i> PDF
            </a>
        </li>
    {% endif %}

{{ super() }}
{% endblock repo %}

<!-- outdated version - remove suffix: off -->
{% block outdatedoff %} You're not viewing the latest version.
<a href="{{ '../' ~ base_url }}">
    <strong>Click here to go to latest.</strong>
</a>
{% endblock %}

<!-- Announcements - remove suffix: off -->
{% block announceoff %}
<a href="#"> For updates, follow our announcements. </a>
{% endblock %} {% block content %} {% if page and page.meta and page.meta.wip ==
true %}
<div class="admonition warning">
    <p class="admonition-title">🚧 Work in Progress 🚧</p>
    <p>
        Following page is work in progress. Feel free to contribute by clicking
        <span class="twemoji"
            ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                    d="M20.71 7.04c.39-.39.39-1.04 0-1.41l-2.34-2.34c-.37-.39-1.02-.39-1.41 0l-1.84 1.83 3.75 3.75M3 17.25V21h3.75L17.81 9.93l-3.75-3.75L3 17.25z"
                ></path></svg
        ></span>
        icon located next to the title of this page. If you land on a GitHub 404
        page, you may either not have logged into your GitHub account or not
        have been added to a required GitHub group of writers. For the latter,
        tweet <code>@{{ config.extra.twitter }}</code> to be added into a valid
        group.<p style="font-size: smaller; color: gray">
            Powered by
            <a href="{{ config.repo_url }}/{{ config.extra.comments.type }}">GitHub {{ config.extra.comments.type }}</a>
        </p>

    </p>
</div>
{% endif %} {{ super() }} {% if git_page_authors %}
<div class="md-source-date">
    <small>
        <a
            href="{{ page.edit_url | replace('edit', 'blob') }}"
            title="Requires a valid access to github repository"
            >Contributors</a
        >: {{ git_page_authors | default('enable mkdocs-git-authors-plugin') }}
    </small>
</div>
{% endif %} {% if config.extra.comments.enabled and page and page.meta and
page.meta.comments == false %}
<!-- disable comments -->
{% else %}
<h2 id="__comments">{{ lang.t("meta.comments") }}</h2>
<p style="font-size: smaller; color: gray">
    Powered by
    <a href="{{ config.repo_url }}/{{ config.extra.comments.type }}"
        >GitHub {{ config.extra.comments.type }}</a
    >
</p>

{% if config.extra.comments.mode == "giscus" %}
<script
    src="https://giscus.app/client.js"
    data-repo="keys-i/eRepo"
    data-repo-id="R_kgDOMs0zsw"
    data-category="General"
    data-category-id="DIC_kwDOMs0zs84CiqyY"
    data-mapping="title"
    data-strict="1"
    data-reactions-enabled="1"
    data-emit-metadata="1"
    data-input-position="bottom"
    data-theme="dark"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async
></script>
{% else %}
<script
    src="https://utteranc.es/client.js"
    repo="keys-i/eRepo"
    issue-term="title"
    theme="photon-dark"
    crossorigin="anonymous"
    async
></script>
{% endif %}

<!-- Reload on palette change -->
<script>
    var palette = __md_get("__palette")
    if (palette && typeof palette.color === "object")
        if (palette.color.scheme === "slate") {
            {% if config.extra.comments.mode == "giscus" %}
            var giscus = document.querySelector("script[src*=giscus]")
            giscus.setAttribute("data-theme", "dark")
            {% else %}
            var utterances = document.querySelector("script[src*=utteranc]")
            utterances.setAttribute("theme", "photon-dark")
            {% endif %}
        }

    /* Register event handlers after document loaded */
    document.addEventListener("DOMContentLoaded", function() {
        var ref = document.querySelector("[data-md-component=palette]")
        ref.addEventListener("change", function() {
            var palette = __md_get("__palette")
            if (palette && typeof palette.color === "object") {
                // reload theme for either giscus or utterances
                {% if config.extra.comments.mode == "giscus" %}
                /* Instruct Giscus to change theme */
                var theme = palette.color.scheme === "slate" ? "dark" : "light"
                var frame = document.querySelector(".giscus-frame")
                frame.contentWindow.postMessage(
                    { giscus: { setConfig: { theme } } },
                    "https://giscus.app"
                )
                {% else %}
                /* Instruct Utterances to change theme */
                var frame = document.querySelector(".utterances-frame")
                var theme = palette.color.scheme === "slate" ? "photon-dark" : "github-light"
                const message = {
                    type: 'set-theme',
                    theme: theme
                };
                const iframe = document.querySelector('.utterances-frame');
                iframe.contentWindow.postMessage(message, 'https://utteranc.es');
                {% endif %}
            }
        })
    })
</script>
{% endif %} {% endblock %}
