<svg
  class="dock-pet__art"
  viewBox="0 0 120 120"
  role="presentation"
  focusable="false"
>
  <defs>
    <clipPath id="dock-pet-eye-left" clipPathUnits="userSpaceOnUse">
      <ellipse cx="42" cy="40" rx="8" ry="10" />
    </clipPath>
    <clipPath id="dock-pet-eye-right" clipPathUnits="userSpaceOnUse">
      <ellipse cx="76" cy="40" rx="8" ry="10" />
    </clipPath>
  </defs>
  <g class="dock-pet__character">
    <g class="dock-pet__limb dock-pet__limb--hind-far">
      <g class="dock-pet__limb-ground">
        <path
          class="dock-pet__limb-edge"
          d="M45 82 Q37 85 35 93 Q34 100 37 103"
        />
        <path
          class="dock-pet__limb-fur"
          d="M45 82 Q37 85 35 93 Q34 100 37 103"
        />
        <circle class="dock-pet__joint" cx="35" cy="93" r="4" />
        <ellipse class="dock-pet__paw" cx="37" cy="105" rx="7" ry="4" />
        <path class="dock-pet__claws" d="M34 106v3 M37 106v3 M40 106v3" />
      </g>
      <g class="dock-pet__limb-grip">
        <path
          class="dock-pet__limb-edge"
          d="M45 82 Q61 69 78 79 Q94 91 113 82"
        />
        <path
          class="dock-pet__limb-fur"
          d="M45 82 Q61 69 78 79 Q94 91 113 82"
        />
        <circle class="dock-pet__joint" cx="78" cy="79" r="4" />
        <ellipse class="dock-pet__paw" cx="113" cy="82" rx="7" ry="4" />
        <path class="dock-pet__claws" d="M110 83v3 M113 83v3 M116 83v3" />
      </g>
    </g>
    <g class="dock-pet__limb dock-pet__limb--fore-far">
      <g class="dock-pet__limb-ground">
        <path class="dock-pet__limb-edge" d="M43 73 Q33 78 34 88" />
        <path class="dock-pet__limb-fur" d="M43 73 Q33 78 34 88" />
        <circle class="dock-pet__joint" cx="35" cy="81" r="4" />
        <ellipse class="dock-pet__paw" cx="34" cy="91" rx="6" ry="4.5" />
        <path class="dock-pet__claws" d="M31 92v3 M34 92v3 M37 92v3" />
      </g>
      <g class="dock-pet__limb-grip">
        <path
          class="dock-pet__limb-edge"
          d="M43 65 Q58 48 75 54 Q91 61 113 46"
        />
        <path
          class="dock-pet__limb-fur"
          d="M43 65 Q58 48 75 54 Q91 61 113 46"
        />
        <circle class="dock-pet__joint" cx="75" cy="54" r="4" />
        <ellipse class="dock-pet__paw" cx="113" cy="46" rx="7" ry="4" />
        <path class="dock-pet__claws" d="M110 47v3 M113 47v3 M116 47v3" />
      </g>
    </g>
    <path
      class="dock-pet__rump"
      d="M42 62 Q59 55 76 62 C91 75 90 96 80 105 Q59 116 38 105 C28 93 28 76 42 62Z"
    />
    <path
      class="dock-pet__belly"
      d="M48 67 Q59 61 70 67 L75 75 72 75 76 81 73 81 Q78 101 59 104 Q41 102 44 82 L41 83 45 75 42 76Z"
    />
    <g class="dock-pet__face">
      <g class="dock-pet__ears">
        <path
          class="dock-pet__ear"
          d="M38 15 C24 0 9 8 7 24 Q4 30 8 35 L6 38 10 40 Q9 48 15 48 L18 52 Q29 56 36 43 Q45 30 38 15Z"
        />
        <path
          class="dock-pet__ear-inner"
          d="M30 17 C18 8 11 19 12 31 L10 30 14 39 17 38 18 44 Q30 47 36 30Z"
        />
        <path
          class="dock-pet__ear"
          d="M80 15 C94 0 109 8 111 24 Q114 30 110 35 L112 38 108 40 Q109 48 103 48 L100 52 Q89 56 82 43 Q73 30 80 15Z"
        />
        <path
          class="dock-pet__ear-inner"
          d="M88 17 C100 8 107 19 106 31 L108 30 104 39 101 38 100 44 Q88 47 82 30Z"
        />
      </g>
      <path
        class="dock-pet__head"
        d="M26 31 Q33 15 49 17 Q46 13 54 15 L54 12 Q59 12 64 16 Q82 14 92 30 L96 45 93 44 96 53 92 52 Q91 70 59 74 Q27 72 25 55 L21 56 25 46 22 47Z"
      />
      <path
        class="dock-pet__muzzle"
        d="M49 49 Q59 44 69 49 Q77 58 70 67 Q59 75 48 66 Q42 58 49 49Z"
      />
      <path
        class="dock-pet__brow"
        d="M36 30 Q40 27 44 29 M74 29 Q78 27 82 30"
      />
      <g class="dock-pet__eye dock-pet__eye--left">
        <ellipse class="dock-pet__socket" cx="42" cy="40" rx="8" ry="10" />
        <g clip-path="url(#dock-pet-eye-left)">
          <g class="dock-pet__iris">
            <circle class="dock-pet__iris-color" cx="42" cy="40" r="5.5" />
            <circle class="dock-pet__pupil" cx="42" cy="40" r="3.6" />
            <circle class="dock-pet__eye-shine" cx="40.5" cy="38.4" r="1.25" />
          </g>
        </g>
        <path class="dock-pet__lid" d="M35 40 Q42 45 49 40" />
      </g>
      <g class="dock-pet__eye dock-pet__eye--right">
        <ellipse class="dock-pet__socket" cx="76" cy="40" rx="8" ry="10" />
        <g clip-path="url(#dock-pet-eye-right)">
          <g class="dock-pet__iris">
            <circle class="dock-pet__iris-color" cx="76" cy="40" r="5.5" />
            <circle class="dock-pet__pupil" cx="76" cy="40" r="3.6" />
            <circle class="dock-pet__eye-shine" cx="74.5" cy="38.4" r="1.25" />
          </g>
        </g>
        <path class="dock-pet__lid" d="M69 40 Q76 45 83 40" />
      </g>
      <path
        class="dock-pet__nose"
        d="M59 36 C51 36 49 46 49 52 Q50 60 59 60 Q69 60 69 52 C69 45 66 36 59 36Z"
      />
      <path class="dock-pet__nose-shine" d="M55 40 Q52 44 52 49" />
      <path class="dock-pet__mouth" d="M54 64 Q59 71 64 64" />
      <ellipse class="dock-pet__yawn" cx="59" cy="65" rx="5" ry="7" />
    </g>
    <g class="dock-pet__limb dock-pet__limb--hind-near">
      <g class="dock-pet__limb-ground">
        <path
          class="dock-pet__limb-edge"
          d="M71 82 Q80 86 81 94 Q82 101 78 104"
        />
        <path
          class="dock-pet__limb-fur"
          d="M71 82 Q80 86 81 94 Q82 101 78 104"
        />
        <circle class="dock-pet__joint" cx="81" cy="94" r="4" />
        <ellipse class="dock-pet__paw" cx="79" cy="106" rx="7" ry="4" />
        <path class="dock-pet__claws" d="M76 107v3 M79 107v3 M82 107v3" />
      </g>
      <g class="dock-pet__limb-grip">
        <path
          class="dock-pet__limb-edge"
          d="M71 82 Q80 101 93 93 Q103 87 113 101"
        />
        <path
          class="dock-pet__limb-fur"
          d="M71 82 Q80 101 93 93 Q103 87 113 101"
        />
        <circle class="dock-pet__joint" cx="93" cy="93" r="4" />
        <ellipse class="dock-pet__paw" cx="113" cy="101" rx="7" ry="4" />
        <path class="dock-pet__claws" d="M110 102v3 M113 102v3 M116 102v3" />
      </g>
    </g>
    <g class="dock-pet__limb dock-pet__limb--fore-near">
      <g class="dock-pet__limb-ground">
        <path class="dock-pet__limb-edge" d="M75 73 Q85 78 83 88" />
        <path class="dock-pet__limb-fur" d="M75 73 Q85 78 83 88" />
        <circle class="dock-pet__joint" cx="82" cy="81" r="4" />
        <ellipse class="dock-pet__paw" cx="83" cy="91" rx="6" ry="4.5" />
        <path class="dock-pet__claws" d="M80 92v3 M83 92v3 M86 92v3" />
      </g>
      <g class="dock-pet__limb-grip">
        <path
          class="dock-pet__limb-edge"
          d="M75 65 Q85 75 94 68 Q102 60 113 60"
        />
        <path
          class="dock-pet__limb-fur"
          d="M75 65 Q85 75 94 68 Q102 60 113 60"
        />
        <circle class="dock-pet__joint" cx="94" cy="68" r="4" />
        <ellipse class="dock-pet__paw" cx="113" cy="60" rx="7" ry="4" />
        <path class="dock-pet__claws" d="M110 61v3 M113 61v3 M116 61v3" />
      </g>
    </g>
  </g>
</svg>
